body {
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	background-color: #2d0075;
}

header {
	font-family: 'Bungee Shade', cursive;
	background-color: #1d004b;
	background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%236000f9' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-position: right right;
	height: 20vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
}

header h1 {
	font-size: 4em;
	color: #fff;
	background-color: #1d004b;
	padding: 0.2em;
	border-radius: 0.5em;
	border: 0.15em solid #2d0075;
}

.board-place {
	padding: 0.14em 0 0 0.14em;
	width: 11.5rem;
	height: 11.5rem;
	border: 5px solid #2d0075;
	background-color: #1d004b;
	font-size: 8rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.score {
	margin: 0 1em;
}
.score-container,
.turn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.turn-container {
	font-size: 0.5em;
}
.hide {
	display: none;
}
.show {
	display: flex;
}

button {
	width: 9em;
	height: 3.5em;
	font-family: 'Press Start 2P', cursive;
	background-size: 300% 100%;
	background-image: linear-gradient(to right, #6400d1 0%, #5ffbf1 50%, #6400d1 100%);
	transition: 0.5s;
	padding: 0 0.1em 0 0.6em;
	border: none;
	border-radius: 0.5em;
	color: #fff;
	font-size: 0.8em;
}

button:hover {
	background-position: right center;
}

#start-btn {
	font-size: 3em;
}

input[type=text] {
	max-width: 30rem;
	height: 3em;
	font-size: 0.8em;
	border: 0.15em solid #2d0075;
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: #00c9ab;
	text-align: center;
}

.form {
	font-size: 3em;
	height: 10em;
	padding-top: 1.2em;
	color: white;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#outcome-display {
	font-size: 3.5em;
	width: 10em;
	line-height: 1.5em;
	background-image: linear-gradient(to right, #f9ee00, #ffcc00, #ffaa00, #f96000, #ffaa00, #ffcc00, #f9ee00);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 200%;
	color: transparent;
	-webkit-animation: gradient 2s linear infinite alternate;
	animation: gradient 2s linear infinite alternate;
}
@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

#gameboard {
	width: 40rem;
	height: 40rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#score-section,
#game-over-section {
	color: white;
	font-size: 1.5em;
	text-align: center;
	flex-direction: column;
}

#state-section {
	position: absolute;
}
#player-section,
#game-over-section {
	position: absolute;
	width: 40rem;
	height: 40rem;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}
#game-over-section {
	background-color: rgba(0, 0, 0, 0.9);
	border: 3px solid #f9ee00;
}
#board-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
	header h1 {
		font-size: 3em;
	}
	header {
		background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%236000f9' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
		height: 25vh;
	}
	.board-place {
		width: 11.5rem;
		height: 11.5rem;
		font-size: 8rem;
	}
	#outcome-display {
		font-size: 2.5em;
		width: 35rem;
	}
	#score-section {
		font-size: 1.5em;
	}
	#gameboard {
		width: 40rem;
		height: 40rem;
	}
}

@media screen and (max-width: 30em) {
	header h1 {
		font-size: 2.3em;
	}
	header {
		background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%236000f9' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
		height: 25vh;
	}
	input[type=text] {
		max-width: 15rem;
	}
	.board-place {
		width: 5rem;
		height: 5rem;
		font-size: 4rem;
	}
	.score {
		margin: 0 0.5em;
	}
	.form {
		font-size: 1.5em;
		height: 10em;
		padding-top: 1.2em;
	}
	#start-btn {
		font-size: 1.5em;
	}
	#player-turn {
		font-size: 1.5em;
	}
	#outcome-display {
		font-size: 1.5em;
		width: 18rem;
	}
	#score-section {
		font-size: 1em;
	}
	#gameboard,
	#player-section,
	#game-over-section {
		width: 20rem;
		height: 20rem;
	}
}
